module/*.ko
module/*.o
module/*.mod.c
module/.*
module/Module.symvers
module/modules.order
*.a
*.o
*.exe
.idea
client/cmake-build-debug
client/renderers/EGL/imgui_hook/target
client/renderers/EGL/imgui_hook/src/imgui_hook-stamp
imgui.ini
repos/gl3w
repos/LGMP/
repos/PureSpice/
repos/gl3w
